form label{
	font-weight: bold;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.borda {
    border: 2px solid #a1a1a1;
    padding: 10px 40px 40px; 
    border-radius: 5px;
}

.template{
    display: none;
}

html, body, pre {
     margin: 0;
     padding: 0;
     font-family: Monaco, 'Lucida Console', monospace;
}