@import helper._
@import helper.twitterBootstrap._
@(perguntaForm: Form[Pergunta])

@perguntaField(field: Field, field2: Field,className: String = "alternativa") = {
			   <br/>	
			   <div class="@className">
				    <div class="input-group">
				      		
				      		<input id="@if(field == null){alternativas_0_.descricao}else{@field.id}" 
				      		       name="@if(field == null){alternativas[0].descricao}else{@field.name}" 
				      		       class="form-control" type="text" value="@if(field != null){@field.value}">
				      		       
							 <span class="input-group-addon">
					        	<input type="checkbox" 
					        	       id="@if(field2 == null){alternativas_0_.alternativaCerta}else{@field2.id}" 
					        	       name="@if(field2 == null){alternativas[0].alternativaCerta}else{@field2.name}" > Correta
					      	 </span>
				    </div>
				    	@if(field != null){
					    	@for(error <- field.errors){  
							   <span style= "color:red" >@error.message </span>  
						    } 
				    	}
			    </div>
}

@main("Cadastro"){
<div class="center borda">
	@form(action = routes.CadastroController.submit, 'id -> "form", 'class -> "form-horizontal") {
		
		<fieldset>
			<!-- Form Name -->
			<legend>Pergunta</legend>

			<!-- Text input-->
			<div class="form-group">
				<div class="col-md-4">
						@inputText(perguntaForm("nikname"), args = 'class -> "form-control input-md" , '_label -> "Nick Name")
				</div>
			</div>

			<!-- Textarea -->
			<div class="form-group">
				<div class="col-md-8">
				
					@textarea(perguntaForm("pergunta"), args = 'class -> "form-control", '_label -> "Pergunta" , 'rows -> 7)
				
				</div>
			</div>
			<div class="alternativas">
					<div class="form-group">
			  			<div class="col-md-8">
						<label for="appendedcheckbox">Alternativas</label>
	   						<div id="local" class="input-group">
							@repeat(perguntaForm("alternativas"), min = 2){ alternativa => 
								@perguntaField(alternativa("descricao"),alternativa("alternativaCerta"))
								
							}
							@perguntaField(null,null,"template")
							</div>
						</div>
					</div>
				
			</div>

				<!-- Button (Double) -->
				<div class="form-group">
				  
				  <div class="col-md-8">
				    <a id="addAlternativa" class="btn btn-primary">
    					Adicionar alternativa
    				</a>
    				<input type="submit" class="btn btn-success" value="Enviar">
				  </div>
				</div>

		</fieldset>
	}
</div>
<script type="text/javascript">
	var renumber = function(alternativas){
		$(".alternativa").each(function(i){
			$('input', this).each(function() {
                $(this).attr('name', $(this).attr('name').replace(/alternativas\[.+?\]/g, 'alternativas[' + i + ']'))
                $(this).attr('id', $(this).attr('id').replace(/alternativas\_.+?\_/g, 'alternativas_' + i + '_'))
            })
            $('label').each(function(){
            	$(this).attr('for',$(this).attr('for').replace(/alternativas\_.+?\_/g, 'alternativas_' + i + '_'))
            })
		})
	}

	$("#addAlternativa").click(function(e) {
		var alter = $('.template').clone()
		alter.attr('class',"alternativa")
		alter.appendTo("#local")
		renumber(alter)
	});
	
</script>
}
